* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: skyblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot {
  padding: 50px;  
  
}

.ADE {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 50%;
}
.start-div {
  display: flex;
  justify-content: center;
  
}
.start-btn {
  background-color: white;
  border: 2px solid #00afd4;
  color: #00afd4;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

/* .react-chatbot-kit-chat-inner-container {
  width: 350px;
  
} */

/* .learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
} */
