* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: skyblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot {
  padding: 50px;  
  
}

.ADE {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 50%;
}
.start-div {
  display: flex;
  justify-content: center;
  
}
.start-btn {
  background-color: white;
  border: 2px solid #00afd4;
  color: #00afd4;
  width: 60px;
  height: 35px;
  border-radius: 10px;
}
.start-btn:hover {
  background-color: #00afd4;
  color: white;
  border-color: black;
}
.react-chatbot-kit-chat-inner-container {
  width: 300px;
  
}

.exit-btn {
   width: 110px;
   height: 40px;
   margin-top: 20px;
   margin-left: 40px;
   font-size: 1.1rem;
   border-radius: 10px;
  
}
.enroll-btn {
   width: 150px;
   height: 40px;
   margin-left: 150px;
   font-size: 1.5rem;
   border-radius: 10px;
   transition-duration: 5s;
}
.enroll-btn:hover{
  color: white;
  border-radius: 10px;
  box-shadow: 90px 40px gray inset;
  border: 2px solid white ;
  
}
.date-btn {
  background-color: white;
  border: 2px solid #00afd4;
  color: #00afd4;
  border-radius: 10px;
  width: 60px;
  height: 35px;
  margin: 10px;
}
.date-btn:hover {
  background-color: #00afd4;
  color: white;
  border-color: black;
}
.date-button{
  width: 60px;
  margin: 10px;
  border-radius: 10px;
}
.date-button:focus{
  background-color: #00afd4;
  color: white;
}
